<h2><%= @title %></h2>

  <h1>We are going to fucking <%= @place.place %> for lunch today!</h1>

  <p><%= @place.disgust_text %>

<%= link_to "I want to fucking eat something else!", food_place_path %>