<header>
  <h2><%= link_to title, root_path %></h2>
</header>

<section>
  <h1>We are going to the fucking 
	<div id="foodplace"><%= @place %></div> 
  for lunch today!</h1>
</section>

<footer>
  <p><%= @disgust_text %></p>

  <%= link_to "I want to fucking eat something else!", root_path %>
</footer>